<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.apocalypselabs.register"
    android:versionCode="1"
    android:versionName="1.0" >

	<uses-permission name="android.permission.INTERNET">
	</uses-permission>
	<uses-sdk minSdkVersion="11" targetSdkVersion="22">
	</uses-sdk>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:label="@string/app_name"
            android:name="Main"
			android:configChanges="keyboardHidden|orientation">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<activity
			android:label="@string/app_name"
			android:name="Pay"
			android:configChanges="keyboardHidden|orientation" />
		<activity
			android:label="@string/app_name"
			android:name="Cash"
			android:configChanges="keyboardHidden|orientation" />
		<activity
			android:label="@string/app_name"
			android:name="Check"
			android:configChanges="keyboardHidden|orientation" />
		<activity
			android:label="@string/app_name"
			android:name="Credit"
			android:configChanges="keyboardHidden|orientation" />
		<activity
			android:label="@string/app_name"
			android:name="Thanks"
			android:configChanges="keyboardHidden|orientation" />
    </application>

</manifest>
